@import url(http://fonts.googleapis.com/css?family=Gabriela);
.right {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}
.wrong {
	cursor: pointer;
}

#body {
	background: #eee;
	font-family: Gabriela;
	width: 75%;
	margin: 0px auto;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */ 0 10px 0 -5px #eee, /* The second layer */ 0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */ 0 20px 0 -10px #eee, /* The third layer */ 0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */ };
}

a {
	line-height: 150%;
}

#inbody {
	margin: 5px auto;
	width: 65%;
}